{% extends '@conga/framework-profiler:layout' %}

{% block content_header %}
    <h2>Conga Profiler Dashboard</h2>
{% endblock content_header %}

{% block content %}
    <div style="white-space:nowrap">
        <p>Last {{ requests.length }} request{% if requests.length != 1 %}s{% endif %}.</p>
        {% include '@conga/framework-profiler:dashboard/partials/requestTable' with { requests } %}
    </div>
{% endblock content %}